#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL 100
#define MOUSE 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

// AML クリックしたときにタイムアウトを延長

&mkp_input_listener { input-processors = <&zip_temp_layer 6 10000>; };

/ {
    combos { compatible = "zmk,combos"; };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        screenshot: screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&to 7>,
                <&macro_press>,
                <&kp LEFT_WIN &kp LEFT_SHIFT &kp S>,
                <&macro_release>,
                <&kp LEFT_WIN &kp LEFT_SHIFT &kp S>;

            label = "SCREENSHOT";
        };

        shift_click: shift_click {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 6>, <&macro_press>, <&mkp MB3 &kp LEFT_SHIFT>;

            label = "SHIFT_CLICK";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R        &kp T                         &kp Y      &kp U      &kp I          &kp O          &kp P
&kp A             &kp S         &kp D         &kp F        &kp G                         &kp H      &kp J      &kp K          &kp L          &lt 5 SEMI
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V        &kp B                         &kp N      &kp M      &kp COMMA      &kp PERIOD     &kp MINUS
&kp LEFT_CONTROL  &kp LEFT_WIN  &kp LEFT_ALT  &lt 2 SPACE  &lt 2 SPACE  &lt 4 LANG2      &kp LANG1  &kp ENTER  &kp BACKSPACE  &kp BACKSLASH  &kp SLASH
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>,
                <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        function {
            bindings = <
&trans  &trans  &trans  &trans  &trans              &kp F1  &kp F2  &kp F3  &kp F4   &kp F5
&trans  &trans  &trans  &trans  &trans              &kp F6  &kp F7  &kp F8  &kp F9   &kp F10
&trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans   &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(MINUS) LC(SEMICOLON)>;
        };

        num {
            bindings = <
&kp N1     &kp N2  &kp N3  &kp N4  &kp N5              &kp N6  &kp N7  &kp N8     &kp N9    &kp N0
&kp GRAVE  &trans  &trans  &trans  &trans              &trans  &trans  &kp FSLH   &kp LBKT  &kp RBKT
&kp LSHFT  &trans  &trans  &trans  &trans              &trans  &trans  &trans     &kp SEMI  &kp APOS
&trans     &trans  &trans  &trans  &trans  &trans      &trans  &trans  &kp COMMA  &kp DOT   &kp FSLH
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        simbol {
            bindings = <
&kp EXCLAMATION  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT              &kp CARET  &kp AMPERSAND  &kp ASTRK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
&trans           &trans  &trans    &trans      &trans                   &trans     &trans         &kp LBKT   &kp RBKT              &kp COLON
&trans           &trans  &trans    &trans      &trans                   &trans     &trans         &trans     &trans                &kp APOS
&trans           &trans  &trans    &trans      &trans       &trans      &trans     &trans         &trans     &trans                &kp ESC
            >;

            sensor-bindings = <&inc_dec_kp 0 0>;
        };

        layer_4 {
            bindings = <
&trans          &trans  &trans    &trans    &trans              &kp LS(LC(TAB))  &kp LC(TAB)      &trans  &trans     &trans
&kp LALT        &trans  &trans    &trans    &trans              &kp LEFT_ARROW   &kp DOWN         &kp UP  &kp RIGHT  &trans
&kp LEFT_SHIFT  &trans  &trans    &trans    &trans              &kp LG(TAB)      &kp LS(LG(TAB))  &trans  &trans     &trans
&kp LCTRL       &trans  &kp LALT  &kp LGUI  &trans  &trans      &mkp MB4         &mkp MB5         &trans  &trans     &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        BT {
            bindings = <
&kp ESC         &trans  &trans  &trans        &trans              &trans        &trans        &trans        &trans        &trans
&kp TAB         &trans  &trans  &trans        &trans              &trans        &trans        &trans        &trans        &trans
&kp LEFT_SHIFT  &trans  &trans  &trans        &trans              &trans        &trans        &trans        &trans        &trans
&trans          &trans  &trans  &kp LEFT_GUI  &trans  &trans      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans              &trans    &trans  &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans              &mkp MB1  &trans  &trans    &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans    &trans  &mkp MB3  &trans  &mkp MB2
&trans  &trans  &trans  &trans  &trans  &trans      &trans    &trans  &trans    &trans  &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        layer_7 {
            bindings = <
&kp LC(Z)  &kp LC(Y)    &trans       &trans       &trans              &trans  &trans  &trans  &trans  &trans
&trans     &kp INS      &trans       &trans       &trans              &trans  &trans  &trans  &trans  &trans
&trans     &screenshot  &kp LC(INS)  &kp LS(INS)  &trans              &trans  &trans  &trans  &trans  &trans
&trans     &trans       &trans       &trans       &trans  &trans      &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp 0 0>;
        };
    };
};
